@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

$red-soft: hsl(0, 93%, 68%);
$red-desaturated: hsl(0, 36%, 70%);
$red-dark-grayish: hsl(0, 6%, 24%);
$shadow-cta: hsla(0, 43%, 60%, 24.76%);
$gradient-bg: linear-gradient(to bottom right, #ffffff 0%, #fff4f4 100%);
$gradient-cta-bg: linear-gradient(to bottom right, #f8bfbf 0%, #ee8b8b 100%);

$line-height-22: 22px;
$line-height-28: 28px;
$line-height-42: 42px;
$line-height-71: 71px;

$letter-spacing-10: 10.83px;
$letter-spacing-17: 17.32px;

$font-primary: 'Josefin Sans', serif;

$font-weight-300: 300;
$font-weight-500: 400;
$font-weight-600: 600;

$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-40: 2.5rem;
$font-size-64: 4rem;

$space-16: 16px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-64: 64px;
$space-92: 92px;
$space-165: 165px;
$space-244: 244px;

$breakpoint-desktop-small: 1200px;
$breakpoint-desktop-large: 1400px;
