.content {
  &__hero {
    display: flex;
    justify-content: center;
  }
  &__image {
    display: inline-block;
    width: 100%;
    object-fit: cover;
  }
}

@media (min-width: $breakpoint-desktop-small) {
  .content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media (min-width: $breakpoint-desktop-large) {
  .content {
    max-width: 1600px;
    margin: 0 auto;
  }
}
