.form {
  position: relative;

  &--error {
    .form__input {
      border: 1px solid $red-soft;
      outline: 1px solid $red-soft;
    }

    .form__input:focus-visible {
      outline: 2px solid $red-soft;
    }

    .form__alert {
      display: block;
    }

    .form__error {
      display: block;
    }
  }

  &__input {
    height: 48px;
    width: 311px;
    padding-left: $space-24;
    border: 1px solid $red-desaturated;
    background: transparent;
    border-radius: 28px;
    color: $red-dark-grayish;
    line-height: $line-height-28;
    font-size: $font-size-14;

    &::placeholder {
      opacity: 0.5;
      color: $red-desaturated;
    }

    &:focus-visible {
      outline: 2px solid $red-desaturated;
    }
  }

  &__button {
    @include absolute(-2px, 247px);
    height: 52px;
    width: 68px;
    border: none;
    background: $gradient-cta-bg;
    border-radius: 28px;
    box-shadow: 0 15px 20px 0 $shadow-cta;
    cursor: pointer;
    overflow: hidden;

    &:hover::after {
      opacity: 0.5;
    }

    &::after {
      content: '';
      @include absolute(0, 0);
      width: 100%;
      height: 100%;
      background: white;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &__alert {
    @include absolute(12px, 215px);
    display: none;
  }

  &__error {
    @include absolute(56px, 24px);
    display: none;
    color: $red-soft;
    font-size: $font-size-14;
  }
}

@media (min-width: $breakpoint-desktop-large) {
  .form {
    &__input {
      height: 56px;
      width: 445px;
      padding-left: $space-32;
      font-size: $font-size-16;
    }

    &__button {
      left: 345px;
      height: 60px;
      width: 100px;
    }

    &__alert {
      top: 16px;
      left: 305px;
    }

    &__error {
      top: 62px;
      left: 32px;
      line-height: $line-height-28;
    }
  }
}
