.logo {
  &__img {
    display: inline-block;
    margin: $space-32;
    height: 21px;
    width: 100px;
    object-fit: cover;
  }
}
@media (min-width: $breakpoint-desktop-small) {
  .logo {
    @include absolute(75px, 165px);

    &__img {
      margin: 0;
      height: 33px;
      width: 158px;
      object-fit: cover;
    }
  }
}
